gtfs_data/

app/testttss.py
app/gtfs-realtime.proto
app/gtfs_realtime_pb2.py

vehicle_positions_a.pb
vehicle_positions_t.pb

**/__pycache__/

**/*.pyc

frontend/node_modules/
frontend/build/

.DS_Store
Thumbs.db

*.log
